html {
    font-family: Arial;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) , rgba(255,0,0,0.2));
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.position-titre {
  display: block;
  text-align: center;
}
.titre-1 {
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 55px;
  border-radius: 2.5px;
  padding: 7.5px;
  background: rgba(255,255,255,0.5);
}
.lien {
  color: red;
  border-width: medium;
  border-top-style: double;
  border-bottom-style: double;
  padding: 2px;
  border-top-color: red;
  border-bottom-color: red;
}
:hover.lien {
  color: darkred;
  border-width: thick;
  border-top-style: double;
  border-bottom-style: double;
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.fond-liste{
  display: block;
  margin: auto;
  width: 80%;
  text-align: left;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  background: rgba(255,255,255,0.4);
  padding: 20px;
}
.container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.texte-2 {
  color: black;
  font-size: 30px;
  padding-right: 20px;
}
.texte-1 {
  color: black;
  font-size: 30px;

}
.image-1{
  width: 20%;
	height: 20%;
  border-width: thin;
  border-radius: 4px;
  border-color: red;
  border-style: solid;
}
:hover.image-1 {
  width: 90%;
	height: 90%;
}
.image-2 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: 60px;
}
.image-3 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}
.titre-2 {
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 55px;
  border-radius: 2.5px;
  padding: 7.5px;
}
.onglet {
  color: red;
  border-width: medium;
  border-top-style: double;
  border-left-style: double;
  padding: 2px;
  border-top-color: red;
  border-left-color: red;
}
:hover.onglet {
  color: darkred;
  border-width: thick;
  border-top-style: double;
  border-left-style: double;
  border-top-color: darkred;
  border-left-color: darkred;
}
