html {
    font-family: Arial;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) , rgba(255,0,0,0.2));
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
.fond-1 {
  background-image: none;
  background-color: rgba(165, 255, 165, 0.5);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.position-titre {
  display: block;
  text-align: center;
}
.titre-1 {
  display: inline;
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 3vw;
  border-radius: 0.5vw;
  padding: 7.5px;
  background: rgba(255,255,255,0.5);
}
.lien {
  color: red;
  border-width: medium;
  border-top-style: double;
  border-bottom-style: double;
  padding: 2px;
  border-top-color: red;
  border-bottom-color: red;
}
:hover.lien {
  color: darkred;
  border-width: thick;
  border-style: double;
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.fond-liste{
  display: block;
  margin: auto;
  width: 80vw;
  text-align: left;
  border-style: none;
  border-radius: 1vw;
  padding: 2vw;
  background: rgba(255,255,255,0.4);
}
.container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
}
.texte-2 {
  color: black;
  font-size: 1vw;
  margin-left: 4vw;
}
.texte-1 {
  color: black;
  font-size: 1.75vw;
  font-weight: normal;
}
.image-2 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18vw;
	height: 4vw;
}
.image-3 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30vw;
	height: 20vw;
}
.titre-2 {
  color: black;
  display: inline;
  border-style: none;
  font-weight: normal;
  font-size: 2vw;
  padding: 1.5vw;
}
.onglet {
  color: red;
  border-width: thick;
  border-top-style: none;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: none;
}
:hover.onglet {
  color: darkred;
  border-width: thick;
  border-top-style: double;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: double;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .drop-1,.drop-2,.drop-3{
  display: inline-block;
}
.dropdown:hover .dropdown-content,.drop-1,.drop-2,.drop-3{
  position: relative;
  text-align: center;
  animation: move 0.75s;
  /*animation-name: aggrandis;
  animation-duration: 0.4s;
  animation-delay: 0.01s;*/
}
.drop-1{
  animation: agrandis 0.5s;
}

.border-navbar {
  display: block;
  border-style: solid;
  border-color: transparent;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color:  rgba(255, 255, 255, 0.4);
  border-radius: 1vw;
}
.titre-4 {
  display: inline-block;
  vertical-align: top;
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 3vw;
  border-top-right-radius:  0.5vw;
  border-bottom-right-radius:  0.5vw;
  padding: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: rgba(255,255,255,0.5);
}

.onglet-1 {
  color: red;
  border-width: thick;
  border-top-style: none;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: none;
}
:hover.dropdown .onglet-1 {
  color: darkred;
  border-width: thick;
  border-top-style: double;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: double;
}
.titre-5 {
  display: inline-block;
  vertical-align: top;
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 3vw;
  border-top-left-radius:  0.5vw;
  border-bottom-left-radius:  0.5vw;
  padding: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: rgba(255,255,255,0.5);
}
.image-1{
  width: 20%;
	height: 20%;
  border-width: thin;
  border-style: solid;
  border-radius: 0.5vw;
  border-color: red;
  margin-left: 4vw;
}
:hover.image-1 {
  width: 90%;
  height: 90%;
}
.image-4 {
  border-radius: 4vw;
  width: 8vw;
  height: 8vw;
}
.video-1 {
  border-radius: 2vw;
  margin: 1vw;
  display: inline;
  width: 28vw;
  height: 15.9vw;
}
.inline-1 {
  display: inline-block;
}
.titre-6 {
  vertical-align: top;
  color: blue;
  font-weight: normal;
  font-size: 3vw;
  border-style: none;
  border-color: none;
  border-width: medium;
  padding: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  background-color: DeepSkyBlue;
}

:hover.image-4 {
  border-style: solid;
  border-color: darkblue;
  border-radius: 4vw;
}
.container-titre-6 {
  display: none;
  margin: 1.1vw;
}
.lien-1:hover .container-titre-6 {
  display: block;
  position: relative;
  animation: move 0.75s;
}
:hover.titre-6 {
  color: darkblue;
  border-color: darkblue;
  border-style: solid;
}
.texte-3 {
  margin-left: 10vw;
  text-align: left;
  color: black;
  font-size: 1vw;
}
.texte-4 {
  margin-left: 10vw;
  text-align: left;
  color: black;
  font-size: 2vw;
}
.frame-1 {
  width: 40vw;
  margin-left: 10vw;
}
@keyframes agrandis {
  0%   {transform: rotate(0deg);}
  5%   {transform: rotate(20deg);}
  10%  {transform: rotate(40deg);}
  15%  {transform: rotate(60deg);}
  20%  {transform: rotate(80deg);}
  25%  {transform: rotate(100deg);}
  30%  {transform: rotate(120deg);}
  35%  {transform: rotate(140deg);}
  40%  {transform: rotate(160deg);}
  45%  {transform: rotate(180deg);}
  50%  {transform: rotate(200deg);}
  55%  {transform: rotate(220deg);}
  60%  {transform: rotate(240deg);}
  65%  {transform: rotate(260deg);}
  70%  {transform: rotate(280deg);}
  75%  {transform: rotate(300deg);}
  80%  {transform: rotate(315deg);}
  85%  {transform: rotate(325deg);}
  90%  {transform: rotate(335deg);}
  95%  {transform: rotate(350deg);}
  100%  {transform: rotate(360deg);}
}
@keyframes move {
  from {left: -600px;opacity: -2;}
  to {left: 0;opacity: 1;}
}
.area-1 {
  display: block;
  height: 20vw;
  width: 30vw;
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 1vw;
  padding: 1vw;
  margin-left: 2vw;
}
.area-2 {
  display: block;
  height: 10vw;
  width: 40vw;
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 1vw;
  padding: 1vw;
  margin-left: 2vw;
}
.area-3 {
  display: block;
  height: 40vw;
  width: 40vw;
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 1vw;
  padding: 1vw;
  margin-left: 10vw;
}
