html {
    font-family: Arial;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) , rgba(255,0,0,0.2));
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.position-titre {
  display: block;
  text-align: center;
}
.titre-1 {
  display: inline;
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: 3vw;
  border-radius: 2.5px;
  padding: 7.5px;
  background: rgba(255,255,255,0.5);
}
.lien {
  color: red;
  border-width: medium;
  border-top-style: double;
  border-bottom-style: double;
  padding: 2px;
  border-top-color: red;
  border-bottom-color: red;
}
:hover.lien {
  color: darkred;
  border-width: thick;
  border-style: double;
  border-top-color: darkred;
  border-bottom-color: darkred;
}
.fond-liste{
  display: block;
  margin: auto;
  width: 80vw;
  text-align: left;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  background: rgba(255,255,255,0.4);
  padding: 0.25vw;
}
.container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.texte-2 {
  color: black;
  font-size: 1vw;
  padding-right: 20px;
}
.texte-1 {
  color: black;
  font-size: 1.75vw;
  font-weight: normal;
}
.image-1{
  width: 20%;
	height: 20%;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
  border-color: red;
}
:hover.image-1 {
  width: 90%;
	height: 90%;
}
.image-2 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: 60px;
}
.image-3 {
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 300px;
}
.titre-2 {
  color: black;
  border-style: none;
  font-weight: normal;
  font-size: xx-large;
  border-radius: 2.5px;
  padding: 7.5px;
}
.onglet {
  color: red;
  border-width: thick;
  border-top-style: none;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: none;
  padding: 2px;
}
:hover.onglet {
  color: darkred;
  border-width: thick;
  border-top-style: double;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: double;
}
.boite-commande {
  display: inline-block;
  text-align: left;
  padding: 2vw;
  border-style: solid;
  margin-left: 2vw;
  border-color: transparent;
  background-color:  rgba(0, 255, 0, 0.1);
  border-radius: 10px;
}
.commande-1 {
  display: block;
  color: black;
  font-size: 1.25vw;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: left;
}
.border-navbar {
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  padding: 2vw;
  background-color:  rgba(255, 255, 255, 0.4);
  border-radius: 10px;

}
